* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #263871;
  overflow-x: hidden;
  background: #f1f4fb;
}


.sidebar {
  scroll-behavior: smooth;
  top: 0;
  left: 0;

  width: 270px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);

  position: fixed;


  color: white;
  box-sizing: border-box;

  z-index: 1003;
}

::-webkit-scrollbar {
  display: flex;
  width: 5px;
  height: 5px;
  background: #9ba5ca;

}

.sidebar-header {
  width: 270px;
  position: fixed;
  top: 0;
  background: #09050b;
  text-align: center;
  z-index: 2001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.closed .sidebar-header {
  width: 80px;
}

.header-logo-closed {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.closed .header-logo-closed {

  padding-top: 20px;
  display: block;

}

.sidebar-header-logo {
  padding: 20px;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.closed .sidebar-header-logo {
  display: none;
}



.sidebar.open {
  width: 270px;
  transform: translateX(0);
}

.sidebar.closed {
  width: 80px;
  transform: translateX(0);
}

.sidebar.active {
  background-color: red !important;
  color: white !important;
}

.sidebar-content ul li.active {
  border-radius: 6px;
  background: red !important;


}


.sidebar-content ul li.active a {
  color: white;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar.closed .sidebar-icon {
  margin-right: 0px;
}

.sidebar-content {
  /* position: absolute; */
  overflow-y: auto;
  /* height: calc(100vh - 100px); */
  height: 100dvh;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.toggle-btn-wrapper {
  position: absolute;
  margin-top: 0px;
  left: 270px;
  z-index: 10002;
}

.nav-link-cont {
  display: flex !important;
}
.nav-link-dw.icon {
  position: relative;
  display: inline-block;
}


.profile-dropdown {
  position: relative;
}


.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.profile-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px 0;
}


.profile-dropdown:hover .profile-dropdown-menu {
  display: block;
}


.profile-dropdown-menu .dropdown-item {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease;
}


.profile-dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0;
}


.toggle-btn {

  border: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f1f4fb;
  height: 45px;
  width: 45px;
  margin-left: 1.3rem;
}

.sidebar.closed+.toggle-btn-wrapper {
  left: 90px;
}

.sidebar ul li a {

  font-size: 14px;
}

.sidebar ul {

  padding: 10px 20px !important;
}

.main-container {
  padding-top: 25px;
  padding-bottom: 25px;

}

.sidebar-header img {

  height: auto;
}

.sidebar-content {

  margin-top: 72px;
  background-color: #09050b;
  list-style-type: none;
}

.sidebar-profile {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-content ul {
  padding: 0;
  margin: 0;
}

.sidebar-content li a {
  padding: 10px;
}

.sidebar-content li {

  margin-bottom: 15px;
  list-style: none;
}

.sidebar-content li:hover {
  color: rgb(57, 56, 56);

}

.sidebar-content li a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  padding-left: 10px;
  display: block;
  transition: color 0.3s ease;
}

.sidebar.closed ul li span {
  display: none;
}

body.sidebar-open {
  padding-left: 250px;
  transition: padding-left 0.3s ease;
}

body.sidebar-open {
  background-color: rgba(0, 0, 0, 0.5);
}

.user-profile {
  padding: 20px;
}

.sidebar.closed .user-profile {
  padding: 20px;
  margin-bottom: 20px;
}
 
.profile-img {


  border: 2px solid #fff;
}



.user-info {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  display: block;
}

.sidebar.closed .user-info {
  display: none;

}

.user-info p {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
}

.nav-link.icon {
  margin: 0 6px;
  padding: 8px;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  border-radius: 8px;
  line-height: 2;
  background: #f1f4fb;
  justify-content: center;
  height: 45px;
  width: 45px;
}

.nav-link,
.nav-item {
  min-width: 2rem;
  transition: 0.3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.icon i {
  vertical-align: 0;
  font-size: 20px;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  color: #545b92;
}

[class*=" feather-"] {
  font-family: 'feather' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dot {
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f72d66;
  cursor: pointer;
}

.leading-none {
  line-height: 1 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
}

.bradius {
  border-radius: 25%;
}

.avatar {
  width: 2.7rem;
  height: 2.7rem;
  line-height: 2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  background: var(--primary-bg-color) no-repeat center / cover;
  color: #fff;
  font-weight: 600;
  vertical-align: bottom;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.announcement-card {
  margin: 1rem;
  padding: 20px;
  background: #1c2f48;
  border-radius: 10px;
}

.announcement-card {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.closed .announcement-card {
  display: none;
}

.main-container {
  background: #ffff;
}

.sub-text {
  color: #9ba5ca !important;
  font-size: 13px;
}

.announcement-bg {
  background: url(../../public/assets/announcement-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.announcement-create-text {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;

}

.btn-announcement {
  background-color: #4676ac;
  border: 1px solid #4676ac;
  transition: all 0.3s ease;
}

.btn-announcement:hover {
  background-color: #4676ac;
  border: 1px solid #4676ac;
  transition: all 0.3s ease;
}

.history-btn {
  margin-top: 20px;
  border: 1px solid #4676ac;
}

.history-btn:hover {
  border: 1px solid #4676ac;
}

.empdashtxt {
  color: #263871;

}

.empdashtxt span {
  color: #9ba5ca !important;
}

.top-border-main {
  margin-top: 120px;

}

.apply-crd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  text-align: center;
  padding: 8px 8px;
  background: #4676ac;
  color: #ffff;
  border-radius: 6px;
}

.apply-crd-txt {
  margin-bottom: 0px;
}

.footer a {
  text-decoration: none;
  color: #9ba5ca;
  font-weight: 400;
}

.back-to-top-btn-cont {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
}

.back-to-top-btn {
  width: 50px;
  height: 50px;
  background: #4676ac;
  color: #fff;
  border: none;
  z-index: 1004;
  border-radius: 6px;
}
.card_pbg{
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}
.table-bordered th,
.table-bordered td {
  border-style: solid;
  border-color:  #dee2e6 !important;
  font-size: 14px;
}

@media (min-width: 992px) {
  .footer {
    padding: 1.25rem 1.25rem 1.25rem 270px;
    font-size: 13px;
  }
}

@media (min-width: 820px) {
  .fimore {
    display: none !important;
  }

  .company-logo-md {
    display: none;

  }

}

@media (max-width:820px) {

  .showmore-cont {
    position: absolute;

    top: 80px;

    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    padding: 10px;
    padding-left: 20px;
    width: 100vw;
    align-items: center;

    display: flex;

    right: 0;




    opacity: 0;
    max-height: 0;

    transform: translateY(-10px);
    transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
  }
  .main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    --bs-gutter-x: 0rem !important;
  }

  .show-more {
    display: flex;

    opacity: 1;
    max-height: 200px;

    transform: translateY(0);
  }


  .fimore {
    display: flex !important;
    justify-content: end !important;
  }

  .nav-link-cont {
    display: flex !important;
    justify-content: flex-end;

    position: relative;
  
  }

  .toggle-btn-wrapper {
    position: absolute;
    margin-top: 0px !important;

    left: 10px !important;
    z-index: 10002;
  }

  .content-expanded,
  .content-collapsed {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .sidebar.closed {
    width: 0px;
    transform: translateX(-100px);
  }

  .sidebar-content {
    margin-top: 0px;
    height: auto;
  }

  .toggle-btn-wrapper {
    position: absolute;
    margin-top: 20px;
    left: 270px;
    z-index: 10002;
  }

  .sidebar-header {
    display: none;
  }

  .company-logo-md {
    display: flex;
    margin-left: auto;
    margin-top: auto;
  }


}

@media (max-width:767px) {
  .quote-pg-first {
    justify-content: center !important;
  }

  .search-filter-cont {
    justify-content: center !important;
  }

  .sidebar-header {
    display: none;
  }

}

 /* page-css */
.page-main-content {
  margin-left: 270px;
  padding-bottom: 0rem;
  background: #f1f4fb;

}

.content-expanded {
  margin-left: 270px;
  width: calc(100% - 270px);
}


.content-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}







.page-main-container {
  padding: 25px 1.5rem 0 1.5rem;
}

.page-header {
  color: #263871;
  margin: 0;
  font-weight: 500; 
  margin-bottom: 0;

}

.card {

  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  border: 0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(196, 205, 224, 0.2);
  border-radius: 13px;

}


.table-responisve {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch !important;

}

#assigntask_length {
  padding-left: 1.5rem;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}

.form-select {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
  width: 70px;
}

.action-btns1 {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 18px;
  border: 1px solid #e9ebfa;
}

.dataTables_wrapper th {
  font-size: 13px;
  color: rgb(49, 62, 106);
  text-transform: capitalize;
  font-size: 0.875rem;
}

.dataTables_wrapper td {
  font-size: 13px;
  color: rgb(85, 91, 149);
}

.quote-pg-first p {
  color: rgb(85, 91, 149);
}

.dataTables_info {
  font-size: 13px;
  padding-left: 1.5rem;
  color: rgb(85, 91, 149);
}

.dataTables_paginate {
  padding-right: 1.5rem;
}

.active>.page-link,
.page-link.active {
  outline: none !important;
  box-shadow: none !important;
  background: #4676ac;
  border: 1px #4676ac;
  color: #fff;
  font-size: 13px;
}

.page-item.disabled .page-link {
  color: #ced4da;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #e9ebfa;
  font-size: 13px;
}

.sub-ttl {
  color: #263871;
  position: relative;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 1.125rem;
}

.sub-ttl:before {
  content: '';
  position: absolute;
  left: 0px;
  padding: 1px;
  width: 55px;
  background: #fd373c;
  bottom: 0;
}

.table,
.text-wrap table {
  width: 100% !important;
  max-width: 100%;
  margin-bottom: 1rem;
}

.font-weight-semibold {
  font-weight: 500 !important;
  color: #263871;
}

.table>:not(caption)>*>* {
  color: rgb(85, 91, 149);
}

.back-btn {
  background: #e9ebfa;
  color: rgb(85, 91, 149);
  border-radius: 6px;
  border: #f8f9fa;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
}

.search-filter {
  padding-right: 1.5rem;
}

.search-filter label {
  margin-bottom: 1rem;

}

.form-control {
  font-size: 13px;
  outline: none !important;
  box-shadow: none !important;
}

.add-job-btn {
  background-color: #4676ac;
  border-radius: 6px;
  padding: 0.299rem 0.75rem;
  font-size: 13px;
  border: none;
  color: #fff;
  margin-left: 20px;
}

.add-job-btn a {
  color: #fff;
  text-decoration: none;
}

.add-job-form-cont {
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.add-job-form-title {
  margin-top: 15px;
  color: #263871;
}

option {
  color: #263871;
}

.form-control {
  color: #263871;
}
.tox-statusbar{
  display: none !important;
}
.discr_txt {
margin-bottom: 0.5rem ;
}
.tox-tinymce{
  border: 1px solid #eee !important;
}
.add-job-form-cont{
  padding-left:20px;
}

.submit-btn-job {
  margin-right: 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn-job:hover {
  transform: scale(1.05);
}
.odlist {
    color: #1c1c1c;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 10px;
        font-family: 'Rubik', sans-serif;
}
.odlist span {
  display: block;
    max-width: 20%;
    width: 20%;
}
.odlist span+span {
color: #636365;
    max-width: none;
    opacity: .8;
    padding-left: 15px;
    position: relative;
    width: 80%;
    display: block;
}
.odlist span+span:before {
    content: ":";
    left: 0;
    position: absolute;
}
.text-trans{
  text-transform: capitalize;
}